apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patches:
- path: deployment.yaml

commonLabels:
  app: web-beta

nameSuffix: -beta

images:
- name: web
  newName: ghcr.io/saenyakorn/monorepo-demo/web
  newTag: 1.1.1-beta.0

resources:
- ../../base
