apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patches:
- path: deployment.yaml

commonLabels:
  app: web-dev

nameSuffix: -dev

images:
- name: web
  newName: ghcr.io/saenyakorn/monorepo-demo/web
  newTag: dev-1b62960712df46465ef6192a6a7f1d197898592a

resources:
- ../../base
